@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next Regular"),
        local("AvenirNext-Regular"),
        url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"),
        url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
        url("../fonts/AvenirNextCyr-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next Regular"),
        local("AvenirNext-Regular"),
        url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"),
        url("../fonts/AvenirNextCyr-Bold.woff") format("woff"),
        url("../fonts/AvenirNextCyr-Bold.ttf") format("ttf");
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next";
}

.main {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 1200px;
    margin: 155px 0 0 245px;
}


.left-column {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 50px;
    background-color: #f7f7f7;
    width: 469px;
    height: 1140px;
    margin: 37px 0 0 41px;
    padding: 38px;
    font-family: "Avenir Next" Arial, Helvetica, sans-serif;
}

.left-column__image {
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 0px 7px 11px 0px #74747480;
}


.left-column__about {
    width: 301px;
    height: 68px;
    text-align: center;
    font-size: 23px;
    line-height: 3;

}

.left-column__information {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 349px;
    height: 162px;
    line-height: 1.5;

}

.left-column__information>ul,
.left-column__skills>ul {
    padding: 0;
}

.left-column__information li {
    list-style-type: none;
    font-size: 20px;
    color: #181818;
}

.left-column__skills ul {
    width: 349px;
    text-align: center;
    line-height: 1.5;


}

.left-column__skills li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px 5px;
    padding: 3px;
    background-color: #f7f7f7;

}

.left-column__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 333px;
    height: 102px;
}

.left-column__contacts img {
    margin-right: 5px;
}

.left-column__telegram,
.left-column__VK,
.left-column__gmail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    width: 33%;
    height: 33%;
    padding: 5px;
}

.left-column__contacts .left-column__telegram {
    color: #24a4ec;
}

.left-column__contacts>a {
    text-decoration: none;
    color: black;
}

.left-column__gmail>span {
    color: #eb3e32;
}

.left-column__contacts img {
    width: 33%;
    height: 100%;
}


.main-information {
    display: flex;
    flex-direction: column;
    margin-left: 59px;
}



.main-information__header>h1 {
    width: 800px;
    height: 132px;
    margin-top: 62px;
    margin-bottom: 0;
    font-size: 96px;
}

.main-information__about {
    display: flex;
    align-items: center;
    width: 961px;
    height: 264px;
    margin: 0;
    font-size: 22px;
    line-height: 25.5px;
    text-indent: 30px;
}

.main-information__skills {
    display: flex;
    justify-content: space-between;
    width: 961px;
    height: 528px;
}

.main-information__job,
.main-information__education,
.main-information__softs {
    height: 100%;
    width: 45%;
    font-size: 22px;
    line-height: 26, 5px;
}

.main-information__job>div,
.main-information__job>p {
    margin-left: 20px;
    font-size: 22px;
    line-height: 26, 5px;
}

.main-information__progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 45%;
}

.main-information__education,
.main-information__softs {
    height: 48%;
    width: 100%;
}

.main-information__softs {
    height: 48%;
    width: 100%;
}

.main-information__english,
.main-information__personality,
.main-information__organization,
.main-information__educability,
.main-information__stress {
    display: flex;
    flex-direction: column;
    height: 34px;
    margin-top: 7px;
}

.main-information__job>h3,
.main-information__progress>h3,
.main-information__education>h3 {
    margin-block: 10px;
    font-size: 25px;
    line-height: 30,5px;
}

.main-information__levels {
    height: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 18.5px;
    font-weight: bold;
}

.main-information__english__line,
.main-information__personality__line,
.main-information__organization__line,
.main-information__educability__line,
.main-information__stress__line {
    height: 3px;
    background-color: #d2d2d2;
    margin: 5px 7px;
}

.main-information__english__point,
.main-information__personality__point,
.main-information__organization__point,
.main-information__educability__point,
.main-information__stress__point {
    width: 16px;
    height: 16px;
    background-color: #7b7b7b;
    border: 2px solid #ffffff;
    margin-top: -8px;
    border-radius: 50%;
}

.main-information__english__point {
    margin-left: 59%;
}

.main-information__personality__point {
    margin-left: 65%;
}

.main-information__organization__point {
    margin-left: 76%;
}

.main-information__educability__point {
    margin-left: 70%;
}

.main-information__stress__point {
    margin-left: 80%;
}

.main-information__university::before {
    content: '';
    float: left;
    margin: 7px 5px 0 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7B7B7B;

}

.main-information__education>p {
    padding-left: 10px;
}